<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Django Template</h1>
<ul>
    <li>
        <a href="{% url 'app:index' %}">실습 홈</a>
    </li>
    <li>
        <a href="{% url 'app:01_variables_filters' %}">01_variables_filters</a>
    </li>
    <li>
        <a href="{% url 'app:02_tags' %}">02_tags</a>
    </li>
    <li>
        <a href="{% url 'app:03_layout' %}">03_layout</a>
    </li>
    <li>
        <a href="{% url 'app:04_staticfiles' %}">04_staticfiles</a>
    </li>
    <li>
        <a href="{% url 'app:05_urls' %}">
            05_urls
        </a>
    </li>
    <li>
        <a href="{% url 'app:06_bootstrap' %}">06_bootstrap</a>
    </li>
</ul>
</body>
</html>